---
layout: default
---
<section class="hero">
  <h1 class="hero__title">{{ site.title }}</h1>
  <p class="hero__lede">{{ site.description }}</p>
</section>

{% assign posts = site.posts %}
{% if posts.size > 0 %}
<ul class="index-list">
  {% for post in posts %}
  <li class="index-item">
    <div class="index-item__meta">
      <span>{{ post.date | date: "%d-%m-%Y" }}</span>
      <span>{{ post.content | number_of_words | divided_by: 200 | at_least: 1 }} min read</span>
    </div>
    <h2 class="index-item__title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    <p class="index-item__excerpt">{{ post.excerpt | strip_html | truncatewords: 32 }}</p>
    {% if post.tags.size > 0 %}
    <ul class="tags">
      {% for tag in post.tags %}
      <li><a class="tag" href="{{ '/tags/' | relative_url }}#{{ tag | slugify }}">#{{ tag }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="empty-state">No writeups filed yet. Drop a markdown file in <code>_posts/</code> to publish your first one.</p>
{% endif %}
